{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.hostname "nimbus") -}}
# This is the 1Password SSH agent config file.
# This file is used to configure the 1Password SSH agent.
ssh-keys = [
  { item = "id_ed25519", vault = "sshkeys" },
  { item = "Git signing personal", vault = "sshkeys" },
  { item = "Git signing work", vault = "sshkeys" }
]
{{- end }}
