encryption: age
age:
  identity: ~/.config/chezmoi/key.txt
  recipient: "{{ onepasswordRead "op://Private/chezmoi-age/username" }}"

onepassword:
  mode: account

git:
  autoCommit: true
  autoPush: true

edit:
  command: code
  args:
    - --wait
