{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "Personal Email" "matthewatopping@gmail.com" -}}
{{- end -}}

{{- $name := "" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else -}}
{{-   $name = promptString "Full Name" "Matthew Topping" -}}
{{- end -}}

{{- $is_work := false -}}
{{- if hasKey . "is_work" -}}
{{-   $is_work = .is_work -}}
{{- else -}}
{{-   $is_work = promptBool "Is this a work machine" false -}}
{{- end -}}

{{- $work_email := "" -}}
{{- if $is_work -}}
{{-   if hasKey . "work_email" -}}
{{-     $work_email = .work_email -}}
{{-   else -}}
{{-     $work_email = promptString "Work Email" -}}
{{-   end -}}
{{- end -}}

encryption: age
age:
  identity: ~/.config/chezmoi/key.txt
  recipient: "{{ onepasswordRead "op://Private/chezmoi-age/username" }}"

onepassword:
  mode: account

data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
  is_work: {{ $is_work }}
  work_email: {{ $work_email | quote }}

git:
  autoCommit: true
  autoPush: true

edit:
  command: code
  args:
    - --wait
