{{- if eq .chezmoi.os "darwin" }}
setopt INTERACTIVE_COMMENTS
setopt APPEND_HISTORY
setopt INC_APPEND_HISTORY
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_SPACE

HISTFILE="$HOME/.zsh_history"
HISTSIZE=1000000
SAVEHIST=1000000

eval "$(/opt/homebrew/bin/brew shellenv)"
autoload -Uz compinit && compinit
autoload -U bashcompinit && bashcompinit

# Completions
source "$(brew --prefix)/Caskroom/gcloud-cli/latest/google-cloud-sdk/path.zsh.inc"
source "$(brew --prefix)/Caskroom/gcloud-cli/latest/google-cloud-sdk/completion.zsh.inc"
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source <(fzf --zsh)
complete -o nospace -C /opt/homebrew/bin/terraform terraform

# Starship
eval "$(starship init zsh)"

# Direnv
eval "$(direnv hook zsh)"

# VSCode integration
[[ "$TERM_PROGRAM" == "vscode" ]] && . "$(code --locate-shell-integration-path zsh)"

[[ $commands[kubectl] ]] && source <(kubectl completion zsh)

{{ end }}