[user]
name = name = {{ keyring "github" "name" }}
email = {{ keyring "ado" "email" }}

[log]
showSignature = true

[alias]
co = checkout
br = branch
ci = commit
st = status
adog = log --all --decorate --oneline --graph --no-show-signature

[credential]
helper = cache --timeout=3600

[advice]
detachedHead = false

[init]
defaultBranch = main

[pull]
rebase = true

[push]
default = current

[commit]
gpgsign = false