#!/bin/sh

if [ ! -f "${HOME}/.config/chezmoi/key.txt" ]; then
    mkdir -p "${HOME}/.config/chezmoi"
    echo "Fetching age key from 1Password..."
    cat <<EOF > "${HOME}/.config/chezmoi/key.txt"
{{ onepasswordRead "op://Private/chezmoi-age-key/notesPlain" }}
EOF
    chmod 600 "${HOME}/.config/chezmoi/key.txt"
fi