
Host github.com
    User git
    HostName github.com
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/id_ed25519
    CanonicalizeHostname no

# General settings

CanonicalizeHostname yes
CanonicalizeFallbackLocal yes
ServerAliveInterval 15
CanonicalDomains mtopps.com

# macOS settings
Host *
    IdentityAgent "~/.1password/agent.sock"
    SetEnv TERM=xterm-256color

# Local network
Host nas medianas
    Port 2284

Host ig88 r2d2 k2so pbs* pdcm* lxc*
    User root


Host docks* adoagent plex
    User matt

Host docksrv03
    HostName 192.168.1.180