{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.hostname "nimbus") -}}
Host github.com
  HostName github.com
  User git
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

Host *
  AddKeysToAgent yes
  UseKeychain yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}